<<<<<<< HEAD
.centralize {
    height: 86vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#descricao {   
    justify-self: center;
    font-size: 13px;
    color: rgb(255, 255, 255);
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background: #004a93;
} 
.titulo-inputs {
    color: white;
    font-size: 13px;
}
#submit {
    margin-top: 10px;
    width: -webkit-fill-available;
}
img {
    width: 180px;
}
.error {
    display: none;
    font-size: 13px;
    background-color: rgb(0 74 147);
    color: rgb(255, 255, 255);
    padding: 2px;
    text-align-last: center;
}
input {
    margin-top: 3px;
    margin-bottom: 7px;
    height: 35px;
    width: 330px;
    border: none;
    border-radius: 2px;
}
.largura {
    max-width: 600px;
}
#submit {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: red;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
#submit:active {
    background-color: rgb(246, 105, 105);
}
a {
    color: white;
    text-decoration: none;
    font-size: 12px;
}
#link-painel {
    position: fixed;
    bottom: 10px;
    right: 10px;
    
=======
.centralize {
    height: 86vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#descricao {   
    justify-self: center;
    font-size: 13px;
    color: rgb(255, 255, 255);
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background: #004a93;
} 
.titulo-inputs {
    color: white;
    font-size: 13px;
}
#submit {
    margin-top: 10px;
    width: -webkit-fill-available;
}
img {
    width: 180px;
}
.error {
    display: none;
    font-size: 13px;
    background-color: rgb(0 74 147);
    color: rgb(255, 255, 255);
    padding: 2px;
    text-align-last: center;
}
input {
    margin-top: 3px;
    margin-bottom: 7px;
    height: 35px;
    width: 330px;
    border: none;
    border-radius: 2px;
}
.largura {
    max-width: 600px;
}
#submit {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: red;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
#submit:active {
    background-color: rgb(246, 105, 105);
}
a {
    color: white;
    text-decoration: none;
    font-size: 12px;
}
#link-painel {
    position: fixed;
    bottom: 10px;
    right: 10px;
    
>>>>>>> c211a7ce82aec7ec09bf6406a8c34b17cd409b1b
}